@import "tailwindcss";
body{
  background-color: #e3e3e6d8;
}


@media (max-width:1300px) {
  .parent {
    grid-template-columns: repeat(3,1fr);
  }

}

@media screen and (max-width:1050px){
  .parent{
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (max-width:720px){
  .parent{
    grid-template-columns: repeat(1,1fr);
  }
}